.full-width {
  width: 100%;
  position: relative;
}

.clear-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
}

:host {
  --mdc-filled-text-field-container-shape: 15px;
}
