.menu {
  display: flex;
  gap: 10px;
  margin-left: auto;
}

.brand-name {
  color: var(--mdc-icon-button-disabled-icon-color);
  letter-spacing: 1.5px;
  text-transform: uppercase;
  line-height: 1;
  font-size: 18px;
  font-weight: 400;
}

.menu-content {
  display: flex;
  margin: auto;
  align-items: center;
  width: 100%;
  max-width: 1320px;
}

.logo-link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
