<mat-toolbar>
  <div class="menu-content">
    <button
      mat-icon-button
      disabled
      aria-label="Example icon-button with menu icon">
      <mat-icon class="material-symbols-outlined">lab_research</mat-icon>
    </button>
    <span class="brand-name">Periodic</span>

    <div class="menu">
      <button mat-flat-button aria-label="" routerLink="/">Home</button>
      <button mat-flat-button aria-label="" routerLink="/periodic">
        Table
      </button>
    </div>
  </div>
</mat-toolbar>
