@use '@angular/material' as mat;

@include mat.core();

$dark-theme: mat.define-theme(
  (
    color: (
      theme-type: dark,
      primary: mat.$azure-palette,
    ),
  )
);

$my-typography: mat.m2-define-typography-config(
  $font-family: 'Roboto',
);

body {
  @include mat.all-component-themes($dark-theme);
  @include mat.typography-hierarchy($my-typography);

  margin: 0;
}

.material-symbols-outlined {
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
}

.style-error {
  --mdc-snackbar-supporting-text-color: white;
  --mdc-snackbar-container-color: #d50429 !important;
}

.style-success {
  --mdc-snackbar-supporting-text-color: white;
  --mdc-snackbar-container-color: #83c100 !important;
}

html,
body {
  height: 100%;
}

.container {
  width: 100%;
  max-width: 1300px;
  margin-left: auto;
  box-sizing: border-box;
  margin-right: auto;
  padding: 0 25px;
  margin-top: 25px;
}

@include mat.core();
@include mat.color-variants-backwards-compatibility($dark-theme);
