<ng-container *ngIf="dataSource$ | async as dataSource; else loading">
  <app-search-input (changeInput)="onInput($event)" />

  <table mat-table [dataSource]="dataSource">
    <!-- Position Column -->
    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef>No.</th>
      <td mat-cell *matCellDef="let element">{{ element.position }}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let element">
        <div class="edited-container">
          <span>{{ element.name }}</span>
          <button
            mat-icon-button
            class="mat-edit-button"
            (click)="openDialog(element, 'name')"
            aria-label="edit name button">
            <mat-icon>edit</mat-icon>
          </button>
        </div>
      </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="weight">
      <th mat-header-cell *matHeaderCellDef>Weight</th>
      <td mat-cell *matCellDef="let element">
        <div class="edited-container">
          <span>{{ element.weight }}</span>
          <button
            mat-icon-button
            class="mat-edit-button"
            (click)="openDialog(element, 'weight')"
            aria-label="edit weight icon">
            <mat-icon>edit</mat-icon>
          </button>
        </div>
      </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="symbol">
      <th mat-header-cell *matHeaderCellDef>Symbol</th>
      <td mat-cell *matCellDef="let element">
        <div class="edited-container">
          <span>{{ element.symbol }}</span>
          <button
            mat-icon-button
            class="mat-edit-button"
            (click)="openDialog(element, 'symbol')"
            aria-label="edit weight icon">
            <mat-icon>edit</mat-icon>
          </button>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columns"></tr>
    <tr mat-row *matRowDef="let row; columns: columns"></tr>

    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" [attr.colspan]="columns.length">
        <span class="empty-table"> No data matching the query. </span>
      </td>
    </tr>
  </table>
</ng-container>

<ng-template #loading>
  <app-loader />
</ng-template>
